body {
  margin: 0;
  background: #0e1117;
  color: #fff;
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

button {
  padding: 16px 32px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #2563eb;
  color: #fff;
  font-weight: bold;
}
